.custom-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.custom-modal.show {
  display: block;
}
.modal-content {
  background-color: aliceblue;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
