@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
* {
  font-family: 'Comic Neue', sans-serif;
}
#customalert {
  visibility: hidden;
  min-width: 400px;
  margin-left: -200px;
  background-color: white;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 7;
  left: 50%;
  top: 70px;
  font-size: 17px;
}

#customalert.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    min-width: 0;
    top: 0;
    opacity: 0;
  }
  to {
    min-width: 400px;
    top: 70px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    min-width: 0;
    top: 0;
    opacity: 0;
  }
  to {
    min-width: 400px;
    top: 70px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    min-width: 400px;
    top: 70px;
    opacity: 1;
  }
  to {
    min-width: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    min-width: 400px;
    top: 70px;
    opacity: 1;
  }
  to {
    min-width: 0;
    top: 0;
    opacity: 0;
  }
}
